* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  color: #000;
}
a {
  text-decoration: none;
}

body {
  padding-top: 31px;
}
#header {
}
#header .header__navbar {
  height: 100px;
  background-color: #fff;
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.header__navbar .navbar__logo {
}
.navbar__logo a {
  display: block;
  height: 100px;
}
.navbar__logo a img {
  display: block;
  height: 100px;
  max-width: 300px;
}
.header__navbar .navbar__search {
  display: flex;
  align-items: center;
}
#search__product {
  width: 450px;
  height: 40px;
  overflow: hidden;
  position: relative;
}
#search__product input[type="text"] {
  height: 100%;
  width: 100%;
  color: #666;
  padding: 10px;
  font-size: 14px;
  border: solid 1px #dcdddf;
}
#search__product .search__icon {
  position: absolute;
  width: 40px;
  height: 100%;
  right: 0;
  top: 0;
  border: none;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__icon i {
  font-size: 20px;
  color: #f36d00;
}
.navbar__contactnumber {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__contactnumber .contactnumber___logo {
  height: 42px;
  width: 42px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5b700;
}
.contactnumber___logo i {
  color: white;
  font-weight: 900;
  font-size: 24px;
}
.navbar__contactnumber .contactnumber__content {
  margin-left: 20px;
}
.contactnumber__content span {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}
.contactnumber__content b {
  display: block;
  color: #0288d1;
  font-size: 20px;
}
.header__navbar .navbar__cart {
  display: flex;
  width: 140px;

  align-items: center;
}
.navbar__cart a {
  width: 100%;
  border-radius: 3px;
  display: flex;
  background-color: #f5b700;
  line-height: 42px;
  justify-content: space-around;
  align-items: center;
}
.navbar__cart a .cart__logo {
  display: flex;
  align-items: center;
}
.cart__logo i {
  font-size: 24px;
  color: white;
}
.navbar__cart a .cart__content {
}
.cart__content p {
  color: white;
}
.navbar__cart .cart__number {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
}
.cart__number b {
  color: red;
}
/*menu */
#header .header__menu {
  height: 50px;
  position: relative;
  background-color: #0288d1;
}
#header .header__menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header__menu .menu__content {
  width: 1200px;
  margin: auto;
  display: flex;
}
.menu__content #contentmenuCategory {
  width: 100%;
}
#contentmenuCategory ul {
  font-size: 0;
  height: 50px;
  overflow-y: hidden;
}
#contentmenuCategory > ul > li {
  display: inline-block;
}
#contentmenuCategory > ul > li > a {
  padding: 0px 10px;
  color: white;
  line-height: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  font-size: 15px;
}
#contentmenuCategory .category__children {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  padding-top: 10px;
  background-color: white;
  z-index: 100;
}

#contentmenuCategory > ul > li:hover > a {
  background-color: #f5b700;
}
#contentmenuCategory > ul > li:hover .category__children {
  display: block;
}
.category__children > ul {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}
.category__children ul li {
  width: 20%;
  background-color: transparent;
  height: 36px;
  padding: 0 10px;
  display: block;
  margin-bottom: 10px;
}
.category__children ul li a {
  color: #555;
  background-color: transparent;
  border-bottom: #c1b69b 1px dotted;

  font-weight: bold;
  line-height: 36px;
  display: block;
}
.category__children ul li a:hover {
  color: #f5b700;
}
.category__children ul li a i {
  margin-right: 10px;
}
#container {
  
}
#container .container__slider {
  position: relative;
  overflow: hidden;
}
.container__slider #slider__image {
  width: 12630px;
  left: 0px;
  display: block;
  transition: all 1000ms ease 0s;
  transform: translate3d(0px, 0px, 0px);
}
#slider__image .slider__detailimage {
  display: inline-block;
  width: 1263px;
  min-width: 1200px;
}
.slider__detailimage a {
}
.slider__detailimage a img {
  height: 370px;
  object-fit: cover;
}
.container__slider .slider__click {
}
#slider__clickchange {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
}
#slider__clickchange .slider__clickDetail {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  background: #fff;
  border: solid 1px #111;
  border-radius: 50%;
  cursor: pointer;
}
#slider__clickchange .slider__clickDetail.active {
  background-color: #f5b700;
  border: solid 1px #fff;
}
.slider__clickDetail span {
}

#container .container__content {
  margin-top: 30px;
}
.container__content .content__product {
  max-width: 1200px;
  margin: auto;
}
.content__product .product__show {
}
.product__show .show__listproduct {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.show__listproduct .show__productDetail {
}
.show__productDetail a {
}
.show__productDetail a img {
  display: block;
  width: 280px;
  height: 180px;
  object-fit: cover;
}
#product__sale {
  margin-top: 30px;
}
#product__sale .productSale__header {
  display: flex;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  border: solid 1px #e7e7e7;
  justify-content: space-between;
}
.productSale__header .productSale__headerTitle {
}
.productSale__headerTitle .headerTitle__icon {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 42px;
  overflow: hidden;
  background: url(c.png) no-repeat left top;
  margin-top: -17px;
  margin-left: 6px;
}
.productSale__headerTitle .headerTitle__content {
  background-color: #0288d1;
  height: 44px;
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  padding-right: 20px;
  padding-left: 62px;
}
.headerTitle__content h3 {
  font-size: 20px;
  color: #fff;
  font-weight: normal;
}
.productSale__header .productSale__headerViewAll {
}
.productSale__headerViewAll .headerViewAll__icon {
  width: 44px;
  background: url(ic.gif) no-repeat center center;
  border-left: solid 1px #eaeaea;
}
.headerViewAll__icon a {
  display: block;
  height: 44px;
}
.productList {
  margin-top: 15px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productList .productDetail {
  position: relative;
  width: 273px;
  height: 386px;
  overflow: hidden;
}
.productDetail a {
}
.productDetail a img {
  width: 273px;
  height: 273px;
  display: block;
  border: solid 1px #dddfde;
  padding: 4px;
  object-fit: cover;
}
.productDetail .productDetail__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productDetail__content .productName {
  line-height: 18px;
  margin: 10px 0;
}
.productName a {
}
.productName a strong {
}
.productDetail__content .product__priceSale {
}
.product__priceSale span {
  color: red;
  font-size: 20px;
  font-weight: 900;
}
.productDetail__content .product__priceOrigin {
  text-decoration: line-through;
  height: 100%;
  display: flex;
  align-items: centebor;
  line-height: 28px;
}
.product__priceOrigin span {
}
.productDetail .productDetail__sale {
  height: 51px;
  width: 51px;
  line-height: 51px;
  top: 6px;
  right: 5px;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: url(k1.png) no-repeat left top;

  position: absolute;
}
.productDetail__sale span {
  color: white;
  font-size: 18px;
}

#productListCategory {
}
#productListCategory .productCategoryDetail {
  margin-top: 30px;
}
.productCategoryDetail .productCategoryDetail__header {
  display: flex;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  border: solid 1px #e7e7e7;
  justify-content: space-between;
}
.productCategoryDetail__header .productCategoryDetail__parent {
}
.productCategoryDetail__parent .headerTitle__content {
  background-color: #0288d1;
  height: 46px;
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
  min-width: 280px;
}
.headerTitle__content h3 {
  font-size: 20px;
  color: #fff;
  font-weight: normal;
}
.productCategoryDetail__header .productCategoryDetail__children {
  list-style-type: none;
  overflow-y: hidden;
  height: 46px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productCategoryDetail__children .categoryChildrenName {
  margin: 0 20px;
}
.categoryChildrenName a {
  line-height: 46px;
  text-decoration: none;
}
.categoryChildrenName a:hover{
    text-decoration: underline;
    color: #f5b700;
    
}
.categoryChildrenName a h4 {
  color: #555;
  font-weight: 100;
}
.categoryChildrenName a:hover h4{
    color: #f5b700;
}
#footer{

}
#footer .footer__content{
    padding: 30px 0px;
    background-color: #333;
    
}
.footer__content .footerContent__infor{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footerContent__infor .infor__title{

}
.infor__title strong{
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: normal;
    color: white;
    
}
.infor__title span{
    width: 42px;
    height: 3px;
    display: block;
    overflow: hidden;
    background-color: #f5b700;
    margin-bottom: 10px;

}
.footerContent__infor .infor__contact{
    width: 33%;
}
.footerContent__infor .infor__content{
   

}
.infor__content ul{
list-style-type: none;
}
.infor__content ul li{
    color: white;
    
}
.infor__content ul li strong{
    font-family: Arial;
    font-size: 15px;
    color: white;
    line-height: 200%;
    font-weight: 200;
}